:root {
  --sky: #00cef0;
  --pink: #e45370;
}
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

.fclr {
  color: #3578E5
}

.dbg {
  background-color: #0cbb72;
}

.lbg {
  background-color: #abd8c5;
}

.full {
  width: 100%;
}
.wfill{
 width: -webkit-fill-available;
}
.w10 {
  width: 10%;
}
.w50 {
  width: 50%;
}

.w33 {
  width: 33%;
}

.w20 {
  width: 20%;
}

.w60 {
  width: 60%;
}
.w70{
  width: 70%;
}
.w30 {
  width: 30%;
}

.w40 {
  width: 40%
}

.w60 {
  width: 60%
}

.w80 {
  width: 80%
}

.p1 {
  padding: 1%;
}

.p2 {
  padding: 2%;
}

.p3 {
  padding: 3%;
}

.p4 {
  padding: 4%;
}

.p5 {
  padding: 5%;
}

.m1 {
  margin: 1%;
}

.m2 {
  margin: 2%;
}

.m3 {
  margin: 3%;
}

.m4 {
  margin: 4%;
}

.m5 {
  margin: 5%;
}

/* horizontal padding */
.hp0 {
  padding-left: 0px;
  padding-right: 0px;
}

.hp1 {
  padding-left: 1%;
  padding-right: 1%;
}

/* vertical padding */
.vp0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.vp1 {
  padding-top: 1%;
  padding-bottom: 1%;
}

/* horizontal margin */
.hm0 {
  margin-left: 0px;
  margin-right: 0px;
}

.hm1 {
  margin-left: 1%;
  margin-right: 1%;
}

/* vertical margin */
.vm0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.vm1 {
  margin-top: 1%;
  margin-bottom: 1%;
}

.bold {
  font-style: bold;
}

.fw900 {
  font-weight: 900;
}

.fw700 {
  font-weight: 700;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.flexAIC {
  align-items: center;
}

.flexJCC {
  justify-content: center;
}

.flexSB {
  justify-content: space-between;
}

.flexSA {
  justify-content: space-around;
}

.scrolly {
  overflow-y: scroll;
}

.scrollx {
  overflow-x: scroll;
}

.circle {
  border-radius: 50%;
}

.line {
  border: 1px solid rgb(202, 202, 202);
}

.linebottom {
  border-bottom: 1px solid rgb(202, 202, 202);
}

.linetop {
  border-top: 1px solid rgb(202, 202, 202);
}

.lineleft {
  border-left: 1px solid rgb(202, 202, 202);
}

.lineright {
  border-right: 1px solid rgb(202, 202, 202);
}

.brd {
  border-radius: 5px;
}

/* specific */

th {
  font-size: 18px;
  text-align: left;
  background-color: #6b5b95;
  color: white;
  padding: 1%;
}

th.desc {
  background-color: rgb(207, 0, 97);
}

td {
  padding: .5%;
}
.btn{
  max-width: 110px;
  padding: 9px 7px;
  border-radius: 5px;
  font-size: .98rem;
}
.pbg{
  background-color: var(--pink);
  color: white;
}
.sbg{
  background-color: var(--sky);
  color: black;
}
.lineS {
  border: 1px solid var(--sky);
}
td p,td button{
  padding: 3px 8px;
  font-size: 13px;
}
th{
  padding: 6px 10px;
  font-size: 16px;
}
input{
  font-size: 17px;
}
td button{
  background-color: transparent;
  font-size: 14px;
  height: -webkit-fill-available;
    width: -webkit-fill-available;
}
/* td button:hover{
  background-color: aliceblue;
} */
td.bn:hover{
  border: 1px solid var(--pink);
  background-color: rgb(248, 179, 202);
}
.notify {

  border-radius: 5px;
  padding: 12px;
  min-width: 100%;
}
.success{
  border: 1px solid rgb(131, 201, 162);
  background-color: rgb(187, 238, 210);
  color: rgb(27, 122, 69);;
}
.error{
  border: 1px solid rgb(201, 131, 140);
  background-color: rgb(238, 187, 187);
  color: rgb(141, 44, 57);
}
.fw{
  font-weight: 600;
}
.blackbg{
  background-color: rgb(66, 66, 66);
  color: white;
}
.brd10{
  border-radius: 10px;
}
input{
  font-size: 18px;
}
.w25{
  width: 25%;
}
.w75{
  width: 75%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(255, 255, 255);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(255, 255, 255);
}
i{
  color: rgb(44, 44, 44); 
}
.white{
  color: white;
}
i.white{
  font-size: 16px;
}
.logo{
  font-size: 33px !important;
}
.nav input{
  background-color: rgb(131, 130, 130); 
  border-radius: 5px;
  color: white;
}
.spanbtn{
  font-size: 15px;
}
.linebottomOrange p{
  border-bottom: 2px solid rgb(255, 255, 255);
}
.activelink{
  border-bottom: 2px solid rgb(255, 153, 0) !important;
}
.spanno{
  font-weight: 700px !important;
  background-color: rgb(233, 233, 233);
  padding: 1% 2% !important;
  font-size: 15px;
  text-align: center;
  margin-left: 2%;
}
.lpbg{
  background-color: #fae5ea;
}
.profileimg{
  width: 220px;
    height: 220px;
    border-radius: 50%;
}
.langline{
  font-size: 13px;
  color:rgb(93, 93, 93)
}
.square{
  height: 15px;
  width: 15px;
  background-color: rgb(255, 225, 0);
  border-radius: 50%;
}
.primaryBtn {
  margin: 20px 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 13px 25px;
  border-radius: 15px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: #185adb;
  transition: all 0.25s ease;
}

.primaryBtn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}
.spanhead{
  font-weight:600;
}